{% extends 'base.html.twig' %}

{% block title %}New Libros{% endblock %}

{% block body %}
    <h1>Create new Libros</h1>

    {{ include('libros/_form.html.twig') }}

    <a href="{{ path('app_libros_index') }}">back to list</a>
{% endblock %}
