{% extends 'base.html.twig' %}

{% block title %}Hello RegistroUsuarioController!{% endblock %}

{% block body %}
<h1>Registro de usuario</h1>

{{ form(formulario) }}
<a href="{{ path('app_login')}}" class="btn btn-primary">Entrar al sistema</a>
{% endblock %}
